---
title: Table
---
<p>
  Search
  <input id = "Search" type = "text"/>
</p>
<p>Table <table id="mytable"></table></p>
<p>
  Input 
    <div id = "Input"></div>
    <button id = "Submit"> Add </button>
</p>
